<form class="form" [formGroup]="registerForm" (submit)="onSubmit()">
  <p *ngIf="isError" class="error">{{ textMessage }}</p>

  <app-input></app-input>

  <mat-form-field>
    <mat-label>hasło</mat-label>
    <input type="password" matInput formControlName="password"/>
    <app-input-icon
      matSuffix
      [isInputValid]="password.valid"
      [isTouched]="password.touched">
    </app-input-icon>
    <mat-error *ngIf="password.hasError('required') && password.dirty">
      Hasło jest wymagane
    </mat-error>
    <mat-error *ngIf="password.hasError('missingUpperCase')">
      Brakuje dużej litery
    </mat-error>
    <mat-error *ngIf="password.hasError('missingLowerCase')">
      Brakuje małej litery
    </mat-error>
    <mat-error *ngIf="password.hasError('missingDigit')">
      Brakuje cyfry
    </mat-error>
    <mat-error *ngIf="password.hasError('minlength')">
      Hasło musi mieć 8 znaków
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>hasło</mat-label>
    <input
      type="password"
      matInput
      formControlName="confirmPassword"
    />
    <app-input-icon
      matSuffix
      [isInputValid]="confirmPassword.valid && confirmPassword.dirty "
      [isTouched]="confirmPassword.touched"
    >
    </app-input-icon>
    <mat-error *ngIf="confirmPassword.hasError('required')">
      Hasło jest wymagane
    </mat-error>
    <mat-error *ngIf="confirmPassword.hasError('passwordMismatch') ">
      Hasła są rożne
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" class="button" [disabled]="registerForm.invalid">
    <ng-container *ngIf="isLoading; else loginText">
      <mat-spinner [diameter]="20" color="warn"></mat-spinner>
    </ng-container>
    <ng-template #loginText>Załóż konto</ng-template>
  </button>

</form>
