<form class="form" [formGroup]="loginForm" (submit)="onSubmit()">

  <mat-form-field>
    <mat-label>hasło</mat-label>
    <input type="password" matInput formControlName="password"/>
    <mat-error *ngIf="password.hasError('required') && password.dirty">
      Hasło jest wymagane
    </mat-error>
  </mat-form-field>

  <app-input></app-input>

  <a routerLink="/reset-password" class="link">zresetuj hasło</a>
  <div class="box-message">
    <p *ngIf="showMessage" [ngClass]="{'error': isError, 'success': !isError}">
      {{ responseMessage }}
    </p>
  </div>
  <app-button-submit [isLoading]="isLoading" [isValid]="loginForm.valid" [value]="'Zaloguj się'"></app-button-submit>
</form>




