h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 20px;
}

.box-message {
  height: 20px;
}

.success {
  color: green;
}

.error {
  color: red
}

.link {
  color: white;
  text-decoration: none;
}

.flex-gap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
