.wrapper {
  width: 40%;
  height: auto;
  display: block;
  margin: auto;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.boxMessage {
  height: 20px;
}

.success {
  color: green;
}

.error {
  color: red
}

.link {
  color: white;
  text-decoration: none;
}

.flex-gap {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.button {
  margin-top: 30px;
}



