<div class="wrapper">
  <h2>Zresetuj Hasło</h2>
  <form [formGroup]="resetForm" class="form" (submit)="onSubmit()">

    <app-input></app-input>

    <div class="boxMessage">
      <p *ngIf="showMessage" [ngClass]="{'error': isError, 'success': !isError}">
        {{ responseMessage }}
      </p>
    </div>

    <div class="flex-gap">
      <a routerLink="/auth" class="link">
        <button mat-raised-button color="primary" class="button" type="button">
          Powrót
        </button>
      </a>
      <button mat-raised-button color="primary" class="button" type="submit" [disabled]="!resetForm.valid">
        <ng-container *ngIf="isLoading; else loginText">
          <mat-spinner [diameter]="20" color="warn"></mat-spinner>
        </ng-container>
        <ng-template #loginText>Wyślij</ng-template>
      </button>
    </div>
  </form>
</div>
