<div class="wrapper">
  <h2>Zresetuj Hasło</h2>
  <form [formGroup]="resetForm" class="form" (submit)="onSubmit()">

    <app-input></app-input>

    <div class="box-message">
      <p *ngIf="showMessage" [ngClass]="{'error': isError, 'success': !isError}">
        {{ responseMessage }}
      </p>
    </div>

    <div class="flex-gap">
      <a routerLink="/auth" class="link">
        <button mat-raised-button color="primary" type="button">
          Powrót
        </button>
      </a>
      <app-button-submit [isLoading]="isLoading" [isValid]="resetForm.valid" [value]="'Wyślij'"></app-button-submit>
    </div>
  </form>
</div>
