<div class="wrapper">
  <h2>{{ 'ResetPassword' | translate }}</h2>
  <form [formGroup]="resetForm" class="form" (submit)="onSubmit()">

    <app-email-form></app-email-form>

    <div class="box-message">
      <p *ngIf="showMessage" [ngClass]="{'error': isError, 'success': !isError}">
        {{ responseMessage | async }}
      </p>
    </div>

    <div class="flex-gap">
      <a routerLink="/auth" class="link">
        <button mat-raised-button color="primary" type="button">
          {{ 'Return' | translate }}
        </button>
      </a>

      <app-button-submit [isLoading]="isLoading" [isValid]="resetForm.valid">
        {{ 'Send' | translate }}
      </app-button-submit>

    </div>
  </form>
</div>
